streamlit
python-dotenv
PyPDF2
langchain
openai
faiss-cpu
docx2txt
youtube-transcript-api
requests
beautifulsoup4
bs4
pandas
PyMuPDF
Flask
Flask-Bcrypt
Flask-Session
Flask-Cors
Flask-SQLAlchemy
SQLAlchemy
Werkzeug
redis
stripe
nltk
sqlalchemy-schemadisplay