@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* Styling the scrollbar */
*::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;

}

*::-webkit-scrollbar-track {
  background: #157AFE;
  border-radius: 20px;

}

*::-webkit-scrollbar-thumb {
  background-color: #111D57;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FA8A8C;
  border-radius: 20px;

}
